 <div>
        <div class="page-heading">
          <div class="options">
            <div class="btn-toolbar">
<div class="indexPage">

<div class ="content">
<h1>Super Hero Squads!</h1>
<a class ="btn btn-success" href="/squadForm"> Create Squad </a>
</div>


</div>