<!DOCTYPE html>
<html>
  <head>
    <title>Hero Squad</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <div class="page-heading">
          <div class="options">
            <div class="btn-toolbar">
              <a href="#" class="btn btn-default"><i class="fa fa-fw fa-cog">Heroes Squads</i></a>
            </div>
          </div>
           <div class="container-fluid">
                <div class="row">
                  <div class="col-md-3">
                    <a class="info-tiles tiles-inverse has-footer" href="/squads">
                      <div class="tiles-heading">
                        <div class="pull-left">Squads</div>
                        <div class="pull-right">
                          <div id="tileorders" class="sparkline-block"><canvas width="39" height="13" style="display: inline-block; width: 39px; height: 13px; vertical-align: top;"></canvas></div>
                        </div>
                      </div>
                      <div class="tiles-body">
                        <div class="text-center">Squads</div>
                      </div>

                    </a>
                  </div>

                  <div class="col-md-3">
                    <a class="info-tiles tiles-green has-footer" href="squads/new">
                      <div class="tiles-heading">
                        <div class="pull-left">More</div>
                        <div class="pull-right">
                          <div id="tilerevenues" class="sparkline-block"><canvas width="40" height="13" style="display: inline-block; width: 40px; height: 13px; vertical-align: top;"></canvas></div>
                        </div>
                      </div>
                      <div class="tiles-body">
                        <div class="text-center">Add</div>
                      </div>

                    </a>
                  </div>

                  <div class="col-md-3">
                    <a class="info-tiles tiles-blue has-footer" href="/squads">
                      <div class="tiles-heading">
                        <div class="pull-left">View</div>
                        <div class="pull-right">
                          <div id="tiletickets" class="sparkline-block"><canvas width="13" height="13" style="display: inline-block; width: 13px; height: 13px; vertical-align: top;"></canvas></div>
                        </div>
                      </div>
                      <div class="tiles-body">
                        <div class="text-center">Heroes</div>
                      </div>

                    </a>
                  </div>

                  <div class="col-md-3">
                    <a class="info-tiles tiles-midnightblue has-footer" href="/squads/search">
                      <div class="tiles-heading">
                        <div class="pull-left">Filter</div>
                        <div class="pull-right">
                          <div id="tilemembers" class="sparkline-block"><canvas width="39" height="13" style="display: inline-block; width: 39px; height: 13px; vertical-align: top;"></canvas></div>
                        </div>
                      </div>
                      <div class="tiles-body">
                        <div class="text-center">Search</div>
                      </div>

                    </a>
                  </div>
                </div>

      #parse( $template )
    </div>
  </body>
</html>