<h2> Add a Team</h1>

<form action="/squads" method="post">
	<label for="team">Team/Squad Name</label>
	<input type="text" name="team" id="team">

	<label for="team">Maximum number</label>
	<input type="number" name="max" id="max">

	<label for="team">Reason</label>
	<input type="text" name="reason" id="reason">
	<button type="submit" class="btn btn-success">Add a Team</button>
</form>